.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  padding: 0 10px;
}
